Repository pdcstrrss/pdcstrrss: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run typecheck

fix(function-aggregate): add root to project json
  apps/function-aggregate/project.json
Due: npm run lint

ci: enable preview deploys
  .github/workflows/main.yml
Due: none

fix: netlify action functions-dir
  .github/workflows/main.yml
Due: none

ci: fix build scripts
  apps/web-remix/project.json
  apps/web-remix/scripts/prebuild.js
  netlify.toml
  package.json
Due: npm run lint

build: ignore fs during function deploy
  netlify.toml
Due: none

ci: use netlify cli for deployment
  .github/workflows/main.yml
  netlify.toml
Due: none

ci: add netlify env
  .github/workflows/main.yml
Due: none

fix: title
  libs/ui/src/constants/translations.ts
Due: npm run lint, npm run typecheck

chore: redirect to main domain
  netlify.toml
Due: none

chore: redirect everything from main preview to main domain
  netlify.toml
Due: none

refactor(routes): rewrite to get from constants file
  apps/web-remix/app/lib/routes.tsx
  apps/web-remix/app/routes/__anonymous/auth/github/callback.tsx
  apps/web-remix/app/routes/__anonymous/login.ts
  apps/web-remix/app/routes/app/__authenticated/episodes/index.tsx
  apps/web-remix/app/routes/app/__authenticated/feeds/$feedId.delete.tsx
  apps/web-remix/app/routes/app/__authenticated/feeds/create.tsx
  apps/web-remix/app/routes/app/__authenticated/feeds/index.tsx
  apps/web-remix/app/routes/app/__authenticated/index.tsx
  apps/web-remix/app/routes/index.tsx
Due: npm run lint, npm run typecheck

build(web-remix): fix prebuild script
  apps/web-remix/project.json
Due: npm run lint

feat(web-remix): link episode meta feed title to feed link
  libs/core/src/episode/episode.service.ts
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.tsx
Due: npm run lint, npm run typecheck

feat(web-remix): add empty episode
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.css
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.tsx
  libs/ui/src/components/SvgSprite/SvgSprite.tsx
Due: npm run lint, npm run typecheck

refactor(web-remix): use classes for styling EpisodeList
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.css
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.tsx
Due: npm run lint, npm run typecheck

docs(privacy): refine
  apps/web-remix/app/routes/__anonymous/privacy.tsx
  libs/ui/src/components/App/AppFooter/AppFooter.tsx
  libs/ui/src/layouts/BaseLayout/_spacing.css
Due: npm run lint, npm run typecheck

feat: check if user is part of organization in favor of a contributor
  apps/web-remix/app/routes/__anonymous/auth/github/index.tsx
  apps/web-remix/app/routes/app/__authenticated/feeds/create.tsx
  apps/web-remix/app/routes/app/__authenticated/feeds/index.tsx
  apps/web-remix/app/routes/app/account/index.tsx
  apps/web-remix/app/services/auth.server.ts
  libs/core/src/user/user.service.ts
Due: npm run lint, npm run typecheck

docs: add funding.yml
  .github/FUNDING.yml
Due: none

wip - add astro auth server-side sign in and sign aut
  apps/web-astro/src/layouts/Layout.astro
  apps/web-astro/src/lib/useAuth.ts
  apps/web-astro/src/pages/api/auth/login.ts
  apps/web-astro/src/pages/api/auth/logout.ts
Due: npm run lint, npm run typecheck

wip - Add Martian Fonts
  apps/web-astro/src/layouts/Layout.astro
  libs/ui/src/styles/_fonts.css
  libs/ui/src/styles/_variables.css
  libs/ui/src/styles/styles.global.ts
Due: npm run lint, npm run typecheck

wip - astro - homepage
  apps/web-astro/src/lib/usePassedGo.ts
  apps/web-astro/src/lib/useUser.ts
  apps/web-astro/src/pages/index.astro
  apps/web-remix/app/routes/index.tsx
  libs/ui/src/components/App/AppFooter/AppFooter.tsx
  libs/ui/src/styles/_app.css
  libs/ui/src/styles/_button.css
  libs/ui/src/styles/_heading.css
  libs/ui/src/styles/_hero.css
  libs/ui/src/styles/_links.css
  libs/ui/src/styles/_logo.css
  libs/ui/src/styles/_variables.css
Due: npm run lint, npm run typecheck

wip - astro - disable fontaine
  apps/web-astro/astro.config.mts
Due: none

wip - astro - no unique email addresses
  libs/database/prisma/schema.prisma
Due: none

wip - astro - optimize initial font rendering
  apps/web-astro/src/layouts/Layout.astro
  libs/ui/src/styles/_fonts.css
Due: none

wip - astro - cascade layers
  apps/web-astro/src/layouts/Layout.astro
  libs/ui/src/styles/_app.css
  libs/ui/src/styles/_container.css
  libs/ui/src/styles/_page.css
  libs/ui/src/styles/_root.css
  libs/ui/src/styles/_variables.css
  libs/ui/src/styles/styles.global.css
  libs/ui/src/styles/styles.global.ts
Due: npm run lint, npm run typecheck

wip - astro - user dropdown
  apps/web-astro/src/layouts/Layout.astro
  apps/web-astro/src/pages/api/auth/logout.ts
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
  libs/ui/src/styles/_app.css
  libs/ui/src/styles/_dropdown.css
  libs/ui/src/styles/_variables.css
Due: npm run lint, npm run typecheck

wip - astro - episode list
  apps/web-astro/package.json
  apps/web-astro/src/layouts/Layout.astro
  apps/web-astro/src/lib/useApi.ts
  apps/web-astro/src/lib/useEpisodes.server.ts
  apps/web-astro/src/lib/usePagination.ts
  apps/web-astro/src/pages/app/episodes/index.astro
  apps/web-astro/tsconfig.json
  libs/core/src/episode/episode.service.ts
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
  libs/ui/src/components/Button/Button.tsx
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.css
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.tsx
  libs/ui/src/components/Pagination/Pagination.css
  libs/ui/src/components/Pagination/Pagination.tsx
  libs/ui/src/constants/forms.ts
  libs/ui/src/constants/index.ts
  libs/ui/src/styles/_app.css
  libs/ui/src/styles/_button.css
  libs/ui/src/styles/_heading.css
  libs/ui/src/styles/_utilities.css
  package-lock.json
Due: npm run lint, npm run typecheck

wip - astro - audio player
  apps/web-astro/package.json
  apps/web-astro/src/assets/main.ts
  apps/web-astro/src/layouts/Layout.astro
  apps/web-astro/src/lib/useUser.ts
  libs/core/src/episode/episode.service.ts
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
  libs/ui/src/components/AudioPlayer/AudioPlayer.tsx
  libs/ui/src/components/AudioPlayer/index.ts
  libs/ui/src/components/index.ts
  libs/ui/src/styles/_audio-player.css
  libs/ui/src/styles/_root.css
  libs/ui/tsconfig.lib.json
  package-lock.json
Due: npm run lint, npm run typecheck

wip - astro - refine pagination, auth methods
  apps/web-astro/src/layouts/Layout.astro
  apps/web-astro/src/lib/useAuth.ts
  apps/web-astro/src/lib/useEpisodes.server.ts
  apps/web-astro/src/lib/usePagination.ts
  apps/web-astro/src/lib/useUser.ts
  apps/web-astro/src/pages/app/episodes/index.astro
Due: npm run lint, npm run typecheck

wip - astro - Feeds list
  apps/web-astro/src/lib/useRoutes.ts
  apps/web-astro/src/lib/useUser.ts
  apps/web-astro/src/pages/app/feeds/index.astro
  libs/ui/src/components/Feed/FeedList/FeedList.css
  libs/ui/src/components/Feed/FeedList/FeedList.tsx
  libs/ui/src/styles/_card.css
  libs/ui/src/styles/_links.css
Due: npm run lint, npm run typecheck

wip - astro - create feed
  apps/web-astro/src/components/Forms/Form.astro
  apps/web-astro/src/components/Forms/FormError.astro
  apps/web-astro/src/lib/useEpisodes.server.ts
  apps/web-astro/src/lib/useFeeds.server.ts
  apps/web-astro/src/pages/app/feeds/create.astro
  libs/core/src/aggregator/aggregator.service.ts
  libs/core/src/feed/feed.service.ts
  libs/ui/src/constants/forms.ts
  libs/ui/src/styles/_alert.css
  libs/ui/src/styles/_button.css
  libs/ui/src/styles/_forms.css
  libs/ui/src/styles/_root.css
  libs/ui/src/styles/_variables.css
Due: npm run lint, npm run typecheck

wip - astro - delete feed
  apps/web-astro/src/components/Forms/Form.astro
  apps/web-astro/src/lib/useError.ts
  apps/web-astro/src/lib/useFeeds.server.ts
  apps/web-astro/src/pages/app/feeds/[id]/delete.astro
  apps/web-astro/src/pages/app/feeds/create.astro
  apps/web-astro/tsconfig.json
Due: npm run lint, npm run typecheck

Path conditions:
  npm run lint: any of: *.{json,js,ts,jsx,tsx}
  npm run typecheck: any of: *.{ts,tsx}
