Repository pdcstrrss/pdcstrrss: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run typecheck

feat(account): add account page
  apps/web-remix/app/routes/__anonymous/auth/github/callback.tsx
  apps/web-remix/app/routes/__anonymous/auth/github/index.tsx
  apps/web-remix/app/routes/__anonymous/login.ts
  apps/web-remix/app/routes/__anonymous/login.tsx
  apps/web-remix/app/routes/__anonymous/logout.ts
  apps/web-remix/app/routes/app/__authenticated.tsx
  apps/web-remix/app/routes/app/__authenticated/episodes/index.tsx
  apps/web-remix/app/routes/app/__authenticated/feeds/$feedId.delete.tsx
  apps/web-remix/app/routes/app/__authenticated/feeds/create.tsx
  apps/web-remix/app/routes/app/__authenticated/feeds/index.tsx
  apps/web-remix/app/routes/app/__authenticated/index.tsx
  apps/web-remix/app/routes/app/account/index.tsx
  apps/web-remix/app/routes/index.tsx
  apps/web-remix/app/services/cookie.server.ts
  apps/web-remix/app/styles/AuthenticatedFeedsIndex.css
  libs/core/src/user/user.service.ts
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.css
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.tsx
  libs/ui/src/components/SvgSprite/SvgSprite.tsx
  libs/ui/src/index.ts
  libs/ui/src/layouts/BaseLayout/BaseLayout.tsx
  libs/ui/src/layouts/BaseLayout/_button.css
  libs/ui/src/layouts/BaseLayout/_card.css
  libs/ui/src/layouts/BaseLayout/_root.css
  libs/ui/src/layouts/BaseLayout/_spacing.css
  libs/ui/src/layouts/BaseLayout/_utilities.css
  libs/ui/src/layouts/BaseLayout/_variables.css
  libs/ui/src/views/AccountIndexView/AccountIndexView.css
  libs/ui/src/views/AccountIndexView/AccountIndexView.spec.tsx
  libs/ui/src/views/AccountIndexView/AccountIndexView.tsx
  libs/ui/src/views/AuthenticatedLayout/AuthenticatedLayout.tsx
Due: npm run lint, npm run typecheck

fix: pagination
  apps/web-remix/app/routes/app/__authenticated/episodes/index.tsx
  libs/ui/src/components/Pagination/Pagination.css
  libs/ui/src/components/Pagination/Pagination.tsx
  libs/ui/src/layouts/BaseLayout/_root.css
  libs/ui/src/views/AuthenticatedLayout/AuthenticatedLayout.tsx
Due: npm run lint, npm run typecheck

ci(github) add cache cleanup
  .github/workflows/main.yml
Due: none

fix: audio player API route, spacing
  apps/web-remix/app/routes/app/__authenticated.tsx
  libs/ui/src/layouts/BaseLayout/_audio-player.css
  libs/ui/src/views/AuthenticatedLayout/AuthenticatedLayout.tsx
Due: npm run lint, npm run typecheck

refactor: refine page styles
  apps/web-remix/app/routes/app/__authenticated/episodes/index.tsx
  apps/web-remix/app/routes/app/__authenticated/feeds/$feedId.delete.tsx
  apps/web-remix/app/routes/app/__authenticated/feeds/create.tsx
  apps/web-remix/app/routes/app/account/index.tsx
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
  libs/ui/src/components/Dropdown/Dropdown.tsx
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.css
  libs/ui/src/components/Feed/FeedList/FeedList.css
  libs/ui/src/constants/translations.ts
  libs/ui/src/layouts/BaseLayout/_app.css
  libs/ui/src/layouts/BaseLayout/_dropdown.css
  libs/ui/src/layouts/BaseLayout/_logo.css
  libs/ui/src/layouts/BaseLayout/_root.css
Due: npm run lint, npm run typecheck

feat: add favicon
  apps/web-remix/public/favicon.png
  apps/web-remix/public/favicon.svg
  libs/ui/src/layouts/BaseLayout/BaseLayout.tsx
  libs/ui/src/layouts/BaseLayout/_variables.css
Due: npm run lint, npm run typecheck

docs: update root readme
  README.md
  apps/web-remix/README.md
Due: none

feat: add aggregate api
  apps/web-remix/app/routes/api/aggregate.ts
  libs/core/src/aggregator/aggregator.service.ts
  libs/core/src/episode/episode.service.ts
  libs/core/src/feed/feed.service.ts
Due: npm run lint, npm run typecheck

ci(main): add Sentry release action
  .github/workflows/main.yml
Due: none

refactor(aggregate): move from api to scheduled function
  apps/web-remix/app/routes/api/aggregate.ts
  apps/web-remix/netlify.toml
  apps/web-remix/netlify/functions/aggregate.ts
  libs/core/src/aggregator/aggregator.service.ts
Due: npm run lint, npm run typecheck

test: add gitignore ignorePath
  apps/web-remix/project.json
Due: npm run lint

fix: GLOBALS
  .github/workflows/main.yml
  apps/web-remix/app/root.tsx
Due: npm run lint, npm run typecheck

fix(AppHeader): add type to dropdown toggle
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
Due: npm run lint, npm run typecheck

fix(Session): use sameSite lax cookie
  apps/web-remix/app/services/session.server.ts
Due: npm run lint, npm run typecheck

fix(session): add maxAge to session cookie
  apps/web-remix/app/services/session.server.ts
Due: npm run lint, npm run typecheck

fix: use esm for aggregate function
  apps/web-remix/netlify.toml
  apps/web-remix/netlify/functions/aggregate.js
Due: npm run lint

ci: install with --legacy-peer-deps
  .github/workflows/main.yml
Due: none

ci: sentry ignore_empty
  .github/workflows/main.yml
Due: none

refactor: use React 18 hydrateRoot
  apps/web-remix/app/entry.client.tsx
Due: npm run lint, npm run typecheck

fix: move focus-visible polyfill to entry
  apps/web-remix/app/entry.client.tsx
  libs/ui/src/layouts/BaseLayout/BaseLayout.tsx
Due: npm run lint, npm run typecheck

feat(index): logged in users one time redirect to episodes
  apps/web-remix/app/routes/index.tsx
  apps/web-remix/app/services/cookie.server.ts
Due: npm run lint, npm run typecheck

fix: error pages layouts
  apps/web-remix/app/entry.client.tsx
  apps/web-remix/app/root.tsx
  libs/ui/src/layouts/BaseLayout/BaseLayout.tsx
  libs/ui/src/layouts/BaseLayout/_root.css
  libs/ui/src/layouts/BaseLayout/_utilities.css
Due: npm run lint, npm run typecheck

feat: add plausible
  apps/web-remix/app/root.tsx
  apps/web-remix/netlify.toml
Due: npm run lint, npm run typecheck

fix: double title in head
  apps/web-remix/app/root.tsx
Due: npm run lint, npm run typecheck

wip - privacy page
  apps/web-remix/app/routes/__anonymous/privacy.tsx
Due: npm run lint, npm run typecheck

perf: add width height to images
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
  libs/ui/src/layouts/BaseLayout/_app.css
Due: npm run lint, npm run typecheck

Path conditions:
  npm run lint: any of: *.{json,js,ts,jsx,tsx}
  npm run typecheck: any of: *.{ts,tsx}
