Repository pdcstrrss/pdcstrrss: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run typecheck

fix(ui): fix Episodes imports
  libs/ui/src/views/EpisodesIndexView/index.ts
Due: npm run lint, npm run typecheck

feat(feeds): assign feeds to user
  apps/web-remix/app/routes/episodes/index.tsx
  apps/web-remix/app/routes/feeds/index.tsx
  libs/core/src/episode/episode.service.ts
  libs/core/src/feed/feed.service.ts
  libs/database/prisma/schema.prisma
  libs/ui/src/components/Feed/FeedList/FeedList.css
  libs/ui/src/components/Feed/FeedList/FeedList.tsx
Due: npm run lint, npm run typecheck

feat(AppHeader): add navigation
  libs/ui/src/components/App/AppHeader/AppHeader.css
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
  libs/ui/src/components/Button/Button.css
Due: npm run lint, npm run typecheck

feat: create AuthenticatedLayout
  apps/web-remix/app/routes/__authenticated.tsx
  apps/web-remix/app/routes/__authenticated/episodes/index.tsx
  apps/web-remix/app/routes/__authenticated/feeds/index.tsx
  libs/ui/src/views/AuthenticatedLayout/AuthenticatedLayout.spec.tsx
  libs/ui/src/views/AuthenticatedLayout/AuthenticatedLayout.tsx
  libs/ui/src/views/AuthenticatedLayout/index.ts
  libs/ui/src/views/EpisodesIndexView/index.ts
Due: npm run lint, npm run typecheck

refactor(Feeds): Update subscription action
  apps/web-remix/app/routes/__authenticated.tsx
  apps/web-remix/app/routes/__authenticated/feeds/index.tsx
  apps/web-remix/app/styles/AuthenticatedFeedsIndex.css
  libs/core/src/feed/feed.service.ts
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
  libs/ui/src/components/Button/Button.css
  libs/ui/src/components/Feed/FeedList/FeedList.css
  libs/ui/src/components/Feed/FeedList/FeedList.tsx
  libs/ui/src/components/SvgSprite/SvgSprite.tsx
  libs/ui/src/layouts/BaseLayout/BaseLayout.css
  libs/ui/src/views/AuthenticatedLayout/AuthenticatedLayout.tsx
Due: npm run lint, npm run typecheck

feat(Feeds): Add and remove feeds by URL
  apps/web-remix/app/root.tsx
  apps/web-remix/app/routes/__authenticated/feeds/$feedId.delete.tsx
  apps/web-remix/app/routes/__authenticated/feeds/create.tsx
  apps/web-remix/app/routes/__authenticated/feeds/index.tsx
  libs/core/src/aggregator/aggregator.service.ts
  libs/core/src/feed/feed.service.ts
  libs/ui/src/components/Button/Button.css
  libs/ui/src/components/Feed/FeedList/FeedList.css
  libs/ui/src/components/Feed/FeedList/FeedList.tsx
  libs/ui/src/components/SvgSprite/SvgSprite.tsx
  libs/ui/src/layouts/BaseLayout/BaseLayout.css
  package-lock.json
  package.json
Due: npm run lint, npm run typecheck

refactor(AppHeader): Add navlink styles
  libs/ui/src/components/App/AppHeader/AppHeader.css
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
Due: npm run lint, npm run typecheck

feat(Feed): Add validation to create feed
  apps/web-remix/app/routes/__authenticated/feeds/create.tsx
  libs/ui/src/layouts/BaseLayout/BaseLayout.css
Due: npm run lint, npm run typecheck

feat(feeds): Add 3 free feeds
  apps/web-remix/app/routes/__authenticated.tsx
  apps/web-remix/app/routes/__authenticated/feeds/create.tsx
  apps/web-remix/app/routes/__authenticated/feeds/index.tsx
  apps/web-remix/app/services/user.server.ts
  libs/core/src/feed/feed.service.ts
  libs/core/src/user/user.service.ts
Due: npm run lint, npm run typecheck

fix(web-remix): add validator dependency
  apps/web-remix/package.json
  package-lock.json
Due: npm run lint

build(netilfy): add remix netlify dep
  package.json
Due: npm run lint

build(netlify): remix netlify with legacy peer deps
  package-lock.json
  package.json
Due: npm run lint

ci(GitHub): use actions for deployment
  .github/workflows/main.yml
  apps/web-remix/project.json
  netlify.toml
Due: npm run lint

ci(GitHub): fix workspace steps
  .github/workflows/main.yml
Due: none

ci(GitHub): Run all nx commands
  .github/workflows/main.yml
Due: none

ci(GitHub): Add global generate command
  .github/workflows/main.yml
  package.json
Due: npm run lint

build(npm): pin remix to 1.4.0
  apps/web-remix/package-lock.json
  apps/web-remix/package.json
  package-lock.json
  package.json
Due: npm run lint

build(npm): remove workspace nohoist
  package-lock.json
  package.json
Due: npm run lint

build(web-remix): add @types/validator dep
  apps/web-remix/package.json
  package-lock.json
Due: npm run lint

fix(web-remix): don't use validator esm
  apps/web-remix/app/routes/__authenticated.tsx
  apps/web-remix/app/routes/__authenticated/feeds/create.tsx
Due: npm run lint, npm run typecheck

ci(GitHub): add build package json npm install to deploy workflow
  .github/workflows/main.yml
Due: none

ci(GitHub): checkout repo for deploy step
  .github/workflows/main.yml
Due: none

ci(GitHub): deploy setup node
  .github/workflows/main.yml
  package.json
Due: npm run lint

ci(GitHub): use full npm i for deploy
  .github/workflows/main.yml
  package.json
Due: npm run lint

ci(GitHub): move to single job
  .github/workflows/main.yml
Due: none

ci(GitbHub): add deploy message
  .github/workflows/main.yml
Due: none

build(database): add Prisma binaryTargets
  libs/database/prisma/schema.prisma
Due: none

build(database): add Prisma rhel-openssl-1.0.x to binaryTargets
  libs/database/prisma/schema.prisma
Due: none

fix(core): Fix feeds out of memory sort_buffer_size
  libs/core/src/feed/feed.service.ts
  libs/database/prisma/schema.prisma
Due: npm run lint, npm run typecheck

perf(episode): improve DEFAULT_EPISODE_QUERY
  libs/core/src/episode/episode.service.ts
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.tsx
Due: npm run lint, npm run typecheck

build(npm): add global dev command
  package.json
Due: npm run lint

refactor(episode): use Link to get active episode
  apps/web-remix/app/routes/__authenticated.tsx
  apps/web-remix/app/routes/audio.ts
  libs/core/src/episode/episode.service.ts
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.css
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.tsx
  libs/ui/src/layouts/BaseLayout/BaseLayout.css
Due: npm run lint, npm run typecheck

refactor(IndexView): update pricing
  libs/ui/src/views/IndexView/IndexView.tsx
Due: npm run lint, npm run typecheck

feat(web-remix): Restyle BaseLayout and homepage
  apps/web-remix/app/routes/index.tsx
  libs/ui/src/components/App/AppFooter/AppFooter.tsx
  libs/ui/src/components/App/AppFooter/index.ts
  libs/ui/src/components/App/AppHeader/AppHeader.css
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
  libs/ui/src/components/SvgSprite/SvgSprite.tsx
  libs/ui/src/layouts/BaseLayout/BaseLayout.tsx
  libs/ui/src/layouts/BaseLayout/_app.css
  libs/ui/src/layouts/BaseLayout/_button.css
  libs/ui/src/layouts/BaseLayout/_heading.css
  libs/ui/src/layouts/BaseLayout/_hero.css
  libs/ui/src/layouts/BaseLayout/_links.css
  libs/ui/src/layouts/BaseLayout/_root.css
  libs/ui/src/layouts/BaseLayout/_utilities.css
Due: npm run lint, npm run typecheck

refactor(ui): refine button styles
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.css
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.tsx
  libs/ui/src/components/Feed/FeedList/FeedList.tsx
  libs/ui/src/layouts/BaseLayout/_links.css
Due: npm run lint, npm run typecheck

fix(web-remix): svg sprite jsx casing
  libs/ui/src/components/SvgSprite/SvgSprite.tsx
Due: npm run lint, npm run typecheck

refactor(web-remix): remove LoginView
  apps/web-remix/app/routes/__anonymous/login.tsx
  apps/web-remix/app/routes/index.tsx
  libs/ui/src/components/App/AppFooter/AppFooter.tsx
  libs/ui/src/layouts/BaseLayout/BaseLayout.tsx
  libs/ui/src/layouts/BaseLayout/_app.css
  libs/ui/src/layouts/BaseLayout/_links.css
  libs/ui/src/layouts/BaseLayout/_page.css
  libs/ui/src/layouts/BaseLayout/_root.css
  libs/ui/src/views/LoginView/LoginView.spec.tsx
  libs/ui/src/views/LoginView/LoginView.tsx
  libs/ui/src/views/LoginView/index.ts
  libs/ui/src/views/index.ts
Due: npm run lint, npm run typecheck

feat(web-remix): Add logout
  apps/web-remix/app/routes/__anonymous/logout.tsx
Due: npm run lint, npm run typecheck

Path conditions:
  npm run lint: any of: *.{json,js,ts,jsx,tsx}
  npm run typecheck: any of: *.{ts,tsx}
