Repository pdcstrrss/pdcstrrss: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run typecheck

wip - astro - use zod for pagination validation
  apps/web-astro/src/lib/usePagination.ts
Due: npm run lint, npm run typecheck

wip - astro - polyfills
  apps/web-astro/package.json
  apps/web-astro/src/assets/main.ts
  apps/web-astro/src/assets/polyfills.ts
  package-lock.json
Due: npm run lint, npm run typecheck

wip - astro - cleanup aliasing
  apps/web-astro/src/components/Forms/FormError.astro
  apps/web-astro/src/layouts/Layout.astro
  apps/web-astro/src/lib/useAuth.ts
  apps/web-astro/src/lib/useEpisodes.server.ts
  apps/web-astro/src/lib/useRoutes.ts
  apps/web-astro/src/lib/useUser.ts
  apps/web-astro/src/pages/api/auth/[...astroauth].ts
  apps/web-astro/src/pages/api/episodes.ts
  apps/web-astro/src/pages/app/account/index.astro
  apps/web-astro/src/pages/app/episodes/index.astro
  apps/web-astro/src/pages/app/feeds/[id]/delete.astro
  apps/web-astro/src/pages/app/feeds/create.astro
  apps/web-astro/src/pages/app/feeds/index.astro
  apps/web-astro/src/pages/app/index.astro
  apps/web-astro/src/pages/index.astro
Due: npm run lint, npm run typecheck

wip - astro - netlify build and eslint
  apps/web-astro/.eslintrc.js
  apps/web-astro/astro.config.ts
  apps/web-astro/project.json
  apps/web-astro/src/assets/main.ts
  apps/web-astro/src/assets/polyfills.ts
  apps/web-astro/src/lib/usePagination.ts
  apps/web-astro/src/lib/useUser.ts
  netlify.toml
  package-lock.json
  package.json
Due: npm run lint, npm run typecheck

feat: maintenance function
  apps/function-maintenance/.eslintrc.json
  apps/function-maintenance/README.md
  apps/function-maintenance/package.json
  apps/function-maintenance/project.json
  apps/function-maintenance/src/index.ts
  apps/function-maintenance/tsconfig.json
  libs/core/src/aggregator/aggregator.service.ts
  libs/core/src/index.ts
  libs/core/src/maintenance/index.ts
  libs/core/src/maintenance/maintenance.service.ts
  libs/database/prisma/schema.prisma
  netlify.toml
  package-lock.json
  workspace.json
Due: npm run lint, npm run typecheck

fix: addFeedsToUser skipDuplicates
  libs/core/src/feed/feed.service.ts
Due: npm run lint, npm run typecheck

feat(form): progressive form submit
  apps/web-astro/src/assets/form.ts
  apps/web-astro/src/assets/main.ts
  apps/web-astro/src/components/Forms/Form.astro
  apps/web-astro/src/pages/app/feeds/create.astro
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.css
  libs/ui/src/styles/_button.css
Due: npm run lint, npm run typecheck

build: output to hosting provider folder
  apps/function-aggregate/project.json
  apps/function-maintenance/project.json
  apps/web-astro/project.json
  netlify.toml
  workspace.json
Due: npm run lint

refactor(swup): add head, a11y and fade plugin
  apps/web-astro/env.d.ts
  apps/web-astro/package.json
  apps/web-astro/src/assets/main.ts
  apps/web-astro/src/layouts/Layout.astro
  package-lock.json
Due: npm run lint, npm run typecheck

build: clean before astro move
  apps/web-astro/project.json
Due: npm run lint

ci(netlify): use entry.mjs for netlify function
  apps/web-astro/project.json
Due: npm run lint

build: fix Netlify astro function deploy
  apps/web-astro/astro.config.ts
  apps/web-astro/project.json
  netlify.toml
Due: npm run lint, npm run typecheck

refactor: disable swup fade transitions
  apps/web-astro/src/assets/main.ts
  apps/web-astro/src/layouts/Layout.astro
Due: npm run lint, npm run typecheck

ci: set ASTROAUTH_SECRET and ASTROAUTH_URL available
  .github/workflows/main.yml
Due: none

fix(prisma): create alias
  apps/web-astro/astro.config.ts
Due: npm run lint, npm run typecheck

fix(swup): disable cache
  apps/web-astro/src/assets/main.ts
Due: npm run lint, npm run typecheck

wip - install storybook v7
  .storybook/main.js
  libs/audio/.storybook/main.js
  libs/audio/.storybook/preview.js
  libs/audio/.storybook/tsconfig.json
  libs/audio/project.json
  libs/audio/tsconfig.json
  libs/ui/.storybook/main.js
  libs/ui/.storybook/preview.js
  libs/ui/.storybook/tsconfig.json
  libs/ui/project.json
  libs/ui/tsconfig.json
  libs/ui/tsconfig.lib.json
  nx.json
  package-lock.json
  package.json
Due: npm run lint

wip - add composite true storybook tsconfig
  libs/audio/.storybook/tsconfig.json
  libs/ui/.storybook/tsconfig.json
Due: npm run lint

wip - audio - play/pause
  libs/audio/src/lib/audio.ts
Due: npm run lint, npm run typecheck

wip - audio - range and skip
  libs/audio/src/lib/audio.stories.ts
  libs/audio/src/lib/audio.ts
Due: npm run lint, npm run typecheck

wip - audio - add time-controller
  libs/audio/src/lib/audio.ts
  libs/audio/src/lib/time-controller.ts
Due: npm run lint, npm run typecheck

wip - audio-time-controller, utilities
  libs/audio/project.json
  libs/audio/src/lib/audio-time-controller.ts
  libs/audio/src/lib/audio.spec.ts
  libs/audio/src/lib/audio.ts
  libs/audio/src/lib/time-controller.test.ts
  libs/audio/src/lib/time-controller.ts
  libs/audio/src/lib/utilities.test.ts
  libs/audio/src/lib/utilities.ts
Due: npm run lint, npm run typecheck

wip - audio - fix rewind, forward
  libs/audio/src/lib/time-controller.ts
Due: npm run lint, npm run typecheck

wip - audio - volume
  libs/audio/src/lib/audio-volume-controller.ts
  libs/audio/src/lib/audio.ts
  libs/audio/src/lib/utilities.ts
Due: npm run lint, npm run typecheck

wip - audio - speed controller, play state controller
  libs/audio/src/lib/audio-play-state-controller.ts
  libs/audio/src/lib/audio-speed-controller.ts
  libs/audio/src/lib/audio-time-controller.ts
  libs/audio/src/lib/audio.ts
Due: npm run lint, npm run typecheck

wip - audio - fix internal event binding, emit all default HTMLAudioElement events
  libs/audio/src/lib/audio-event-controller.ts
  libs/audio/src/lib/audio.ts
Due: npm run lint, npm run typecheck

feat(audio): add basic styling and layout
  libs/audio/src/lib/audio-speed-controller.ts
  libs/audio/src/lib/audio.ts
Due: npm run lint, npm run typecheck

wip - audio - export web component
  apps/web-astro/package.json
  libs/audio/package.json
  libs/audio/src/index.ts
  package-lock.json
Due: npm run lint, npm run typecheck

ci: use Node v20
  .github/workflows/main.yml
Due: none

wip - use nod lts version
  .github/workflows/main.yml
Due: none

wip - ignore scripts
  .github/workflows/main.yml
Due: none

Path conditions:
  npm run lint: any of: *.{json,js,ts,jsx,tsx}
  npm run typecheck: any of: *.{ts,tsx}
