Repository pdcstrrss/pdcstrrss: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

wip - update actions
  .github/workflows/main.yml
Due: none

wip - esbuild - reinstall using node on arch x64
  package-lock.json
Due: prettier --write

wip - esbuild - build on macos-latest
  .github/workflows/main.yml
Due: none

wip - add esbuild-android-arm64 as an optional dependency
  package-lock.json
  package.json
Due: prettier --write

wip - esbuild - install separately
  package-lock.json
  package.json
Due: prettier --write

wip - esbuild - npm ci force
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: prettier --write

wip - esbuild - match aws lambda node version, build on ubuntu
  .github/workflows/main.yml
Due: none

fix(astro): missing chunks for netlify
  apps/web-astro/project.json
Due: prettier --write

chore(astro): update @astrojs/netlify
  apps/web-astro/package.json
  package-lock.json
Due: prettier --write

build(astro): remove dist chunks before move
  apps/web-astro/project.json
Due: prettier --write

fix(aggregator): use named import for date-fns isValid
  libs/core/src/aggregator/aggregator.service.ts
Due: prettier --write, eslint --fix

fix(maintenance): show actual count
  apps/function-maintenance/src/index.ts
Due: prettier --write, eslint --fix

refactor(functions): use @nrwl/esbuild
  apps/function-aggregate/package.json
  apps/function-aggregate/project.json
  apps/function-aggregate/src/aggregate.ts
  apps/function-aggregate/tsconfig.json
  apps/function-maintenance/package.json
  apps/function-maintenance/project.json
  apps/function-maintenance/src/maintenance.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix(aggregate): remove aggregate-background build
  apps/function-aggregate/project.json
Due: prettier --write

refactor(auth): use auth-astro
  apps/web-astro/astro.config.ts
  apps/web-astro/env.d.ts
  apps/web-astro/package.json
  apps/web-astro/src/assets/main.ts
  apps/web-astro/src/auth.config.ts
  apps/web-astro/src/components/auth/SignIn.astro
  apps/web-astro/src/env.d.ts
  apps/web-astro/src/layouts/Layout.astro
  apps/web-astro/src/lib/useUser.ts
  apps/web-astro/src/pages/api/auth/[...astroauth].ts
  apps/web-astro/src/pages/api/auth/login.ts
  apps/web-astro/src/pages/app/account/index.astro
  apps/web-astro/src/pages/app/logout/index.astro
  libs/core/src/user/user.service.ts
  libs/database/prisma/schema.prisma
  libs/database/project.json
  libs/database/src/lib/index.ts
  libs/database/src/lib/session.repository.ts
  libs/database/src/lib/user.repository.ts
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
  libs/ui/src/styles/_button.css
  package-lock.json
  package.json
  patches/auth-astro+3.0.0.patch
Due: prettier --write, eslint --fix

fix(auth): resolve auth config path
  apps/web-astro/astro.config.ts
Due: prettier --write, eslint --fix

fix: use correct favicon
  apps/web-astro/public/favicon.png
  apps/web-astro/public/favicon.svg
Due: none

fix(auth): do not import AUTH_SECRET in config
  apps/web-astro/src/auth.config.ts
Due: prettier --write, eslint --fix

refactor: remove polyfills
  apps/web-astro/src/assets/main.ts
  apps/web-astro/src/assets/polyfills.ts
Due: prettier --write, eslint --fix

chore: log env in server logs
  apps/web-astro/src/auth.config.ts
Due: prettier --write, eslint --fix

ci: add AUTH_SECRET to ci build
  .github/workflows/main.yml
Due: none

ci: remove logging of env vars
  apps/web-astro/src/auth.config.ts
Due: prettier --write, eslint --fix

fix(auth): allowDangerousEmailAccountLinking true
  apps/web-astro/src/auth.config.ts
Due: prettier --write, eslint --fix

fix(auth): fix migration to auth-core
  libs/database/prisma/schema.prisma
Due: none

fix(dropdown): remove OutsideClickHandler
  libs/ui/src/components/Dropdown/Dropdown.tsx
Due: prettier --write, eslint --fix

test: fix Jest
  jest.preset.js
  libs/core/package.json
  libs/core/project.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix(feed): normalize incoming feed URLs
  libs/core/src/feed/feed.service.ts
  libs/core/src/url/url.service.test.ts
  libs/core/src/url/url.service.ts
Due: prettier --write, eslint --fix

test(database): add local database
  .gitignore
  docker-compose.yml
Due: none

feat(core): maintenance feed merger
  apps/function-maintenance/src/maintenance.ts
  libs/core/jest.config.ts
  libs/core/project.json
  libs/core/src/maintenance/feedMerger/feedMerger.service.spec.ts
  libs/core/src/maintenance/feedMerger/feedMerger.service.test.ts
  libs/core/src/maintenance/feedMerger/feedMerger.service.ts
  libs/core/src/maintenance/feedMerger/index.ts
  libs/core/src/maintenance/index.ts
  libs/database/src/lib/episode.repository.ts
  libs/database/src/lib/episodesOfUsers.repository.ts
  libs/database/src/lib/feed.repository.ts
  libs/database/src/lib/index.ts
Due: prettier --write, eslint --fix

chore: ignore .docker
  .gitignore
Due: none

chore(nx): upgrade to nx v16
  .eslintrc.json
  apps/function-aggregate/project.json
  apps/function-maintenance/project.json
  apps/web-astro-e2e/project.json
  apps/web-astro/project.json
  jest.preset.js
  libs/core/project.json
  libs/database/project.json
  libs/ui/.eslintrc.json
  libs/ui/.storybook/main.js
  libs/ui/.storybook/tsconfig.json
  libs/ui/jest.config.ts
  libs/ui/project.json
  migrations.json
  nx.json
  package-lock.json
  package.json
  tools/generators/.gitkeep
Due: prettier --write, eslint --fix

feat(web): add aggregator API endpoint
  apps/web-astro/src/pages/api/aggregate/index.ts
  libs/core/src/aggregator/aggregator.service.ts
  libs/core/src/feed/feed.service.ts
  libs/database/prisma/schema.prisma
Due: prettier --write, eslint --fix

test: add feed tests
  apps/web-astro/src/lib/useFeeds.server.ts
  libs/core/package.json
  libs/core/project.json
  libs/core/src/aggregator/aggregator.service.ts
  libs/core/src/feed/__snapshots__/feed.spec.ts.snap
  libs/core/src/feed/feed.service.ts
  libs/core/src/feed/feed.spec.ts
  libs/core/test/fixtures/nerdland.rss
  libs/core/test/fixtures/shoptalk.rss
  libs/core/test/fixtures/syntax.rss
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

refactor: replace Jest with Vitest
  .vscode/extensions.json
  jest.preset.js
  libs/core/README.md
  libs/core/jest.config.ts
  libs/core/package.json
  libs/core/project.json
  libs/core/src/feed/__snapshots__/feed.spec.ts.snap
  libs/core/src/feed/feed.spec.ts
  libs/core/src/maintenance/feedMerger/feedMerger.service.spec.ts
  libs/core/src/maintenance/feedMerger/feedMerger.service.test.ts
  libs/core/src/url/url.service.test.ts
  libs/core/tsconfig.json
  libs/core/tsconfig.spec.json
  libs/database/README.md
  libs/database/jest.config.ts
  libs/database/project.json
  libs/database/tsconfig.json
  libs/database/tsconfig.spec.json
  libs/ui/.storybook/tsconfig.json
  libs/ui/README.md
  libs/ui/jest.config.ts
  libs/ui/package.json
  libs/ui/project.json
  libs/ui/tsconfig.json
  libs/ui/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

refactor(core): ESM
  libs/core/src/aggregator/aggregator.service.ts
  libs/core/src/aggregator/index.ts
  libs/core/src/audio/audio.service.ts
  libs/core/src/audio/index.ts
  libs/core/src/constants.ts
  libs/core/src/episode/episode.service.ts
  libs/core/src/episode/index.ts
  libs/core/src/feed/feed.service.ts
  libs/core/src/feed/index.ts
  libs/core/src/index.ts
  libs/core/src/maintenance/feedMerger/feedMerger.service.ts
  libs/core/src/maintenance/feedMerger/index.ts
  libs/core/src/maintenance/index.ts
  libs/core/src/rss/index.ts
  libs/core/src/url/index.ts
  libs/core/src/url/url.service.ts
  libs/core/src/user/index.ts
Due: prettier --write, eslint --fix

feat(maintenance): API endpoint
  apps/function-maintenance/src/maintenance.ts
  apps/web-astro/src/pages/api/maintenance/index.ts
Due: prettier --write, eslint --fix

refactor(ui): esm
  .vscode/settings.json
  apps/web-astro/src/layouts/Layout.astro
  libs/ui/package.json
  libs/ui/src/components/App/AppFooter/AppFooter.tsx
  libs/ui/src/components/App/AppFooter/index.ts
  libs/ui/src/components/App/AppHeader/AppHeader.tsx
  libs/ui/src/components/App/AppHeader/index.ts
  libs/ui/src/components/App/index.ts
  libs/ui/src/components/AudioPlayer/index.ts
  libs/ui/src/components/Button/Button.tsx
  libs/ui/src/components/Button/index.ts
  libs/ui/src/components/Dropdown/Dropdown.spec.tsx
  libs/ui/src/components/Dropdown/Dropdown.stories.tsx
  libs/ui/src/components/Dropdown/Dropdown.tsx
  libs/ui/src/components/Episode/EpisodeList/EpisodeList.tsx
  libs/ui/src/components/Episode/EpisodeList/index.ts
  libs/ui/src/components/Episode/index.ts
  libs/ui/src/components/Feed/FeedList/index.ts
  libs/ui/src/components/Feed/index.ts
  libs/ui/src/components/Pagination/index.ts
  libs/ui/src/components/SvgSprite/index.ts
  libs/ui/src/components/index.ts
  libs/ui/src/constants/index.ts
  libs/ui/src/index.ts
  libs/ui/src/views/AuthenticatedLayout/AuthenticatedLayout.spec.tsx
  libs/ui/src/views/AuthenticatedLayout/index.ts
  libs/ui/src/views/IndexView/IndexView.spec.tsx
  libs/ui/src/views/IndexView/index.ts
  libs/ui/src/views/index.ts
Due: prettier --write, eslint --fix

fix(netlify): rename scheduled functions
  netlify.toml
Due: none

Path conditions:
  prettier --write: any of: **/*.{ts,js,css,json,tsx,jsx}
  eslint --fix: any of: **/*.{ts,js,tsx,jsx}
